
html
  head
    title!= title
  body
    h1!= message
    p
        a(href='http://localhost:3000/small') small
    p
        a(href='http://localhost:3000/medium') medium
    p
        a(href='http://localhost:3000/large') large
